<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > {{cambio}} </p></ngx-spinner>

<div class="principal card">

  <div class="card-header">
      <img src="../assets/icono.svg" alt="" class="mr-2"><span>Calculadora de Resistencias de {{bandaCinco == false ? '4' : '5'}} bandas</span>
  </div>
  <div class="card-deck">
    
    <div class="card m-5 p-2">
      <img src="../assets/resistor.png" class="" alt="...">
      <div class="banda1" [ngStyle]="{'background-color':bandas[0].color}"></div>
      <div class="banda2" [ngStyle]="{'background-color':bandas[1].color}"></div>
      <div *ngIf="bandaCinco" class="banda5" [ngStyle]="{'background-color':bandas[4].color}"></div>
      <div class="banda3" [ngStyle]="{'background-color':bandas[2].color}"></div>
      <div class="banda4" [ngStyle]="{'background-color':bandas[3].color}"></div>

      <div id="triangulo1" [ngStyle]="{'border-top-color':bandas[0].color}"></div>
      <div id="triangulo2" [ngStyle]="{'border-top-color':bandas[1].color}"></div>
      <div *ngIf="bandaCinco" id="triangulo5" [ngStyle]="{'border-top-color':bandas[4].color}"></div>
      <div id="triangulo3" [ngStyle]="{'border-top-color':bandas[2].color}"></div>
      <div id="triangulo4" [ngStyle]="{'border-top-color':bandas[3].color}"></div>

      <div id="valor1" [ngStyle]="{'background-color':bandas[0].color,'color':bandas[0].texto}">{{bandas[0].valor == null ?  '...' : bandas[0].valor }}</div>
      <div id="valor2" [ngStyle]="{'background-color':bandas[1].color,'color':bandas[1].texto}">{{bandas[1].valor == null ?  '...' : bandas[1].valor }}</div>
      <div *ngIf="bandaCinco" id="valor5" [ngStyle]="{'background-color':bandas[4].color,'color':bandas[4].texto}">{{bandas[4].valor == null ?  '...' : bandas[4].valor }}</div>
      <div id="valor3" [ngStyle]="{'background-color':bandas[2].color,'color':bandas[2].texto}">x {{ bandas[2].multiplicador }} Ω</div>
      <div id="valor4" [ngStyle]="{'background-color':bandas[3].color,'color':bandas[3].texto}">{{  selecciono  ? bandas[3].tolerancia : '± ...'}}</div>

      
      <div class="card-body">
        <div class="alert resultado" role="alert">
          Resistor : {{ bandas[0].valor === null || bandas[1].valor === null  || bandas[3].valor === null    ? '...' : calculo}} Ohms
        </div>
        <div class="alert resultado" role="alert">
          Tolerance : {{  selecciono  ? bandas[3].tolerancia : '...'}}  
        </div>
      </div>

      <div class="card-footer" >
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary" (click)="cuatroBandas()">4 bandas</button>
          
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-primary" (click)="cincoBandas()">5 Bandas</button>
        </div>
       
      </div>
    </div>

    
    <div class="card m-5">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputPassword1" class="col-form-label-sm">Banda #1</label>
            <select id="inputState" class="form-control form-control-sm"  (click)="getColor($event.target.value,0)" name="banda1" [ngStyle]="{'background-color':bandas[0].color ,'color':bandas[0].texto}" >
              <option value="" selected disabled>selecciona un color</option>
              
              <option class="espacio" *ngFor="let color of colores; index as i" [ngStyle]="{'background-color':color.color,'color':colores[i].texto}" value="{{i}}">{{color.nombre}}</option>  
              
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="col-form-label-sm">Banda #2</label>
            <select  id="inputState2" class="form-control  form-control-sm"  name="banda2" (click)="getColor($event.target.value,1)" name="banda2" [ngStyle]="{'background-color':bandas[1].color,'color':bandas[1].texto}" >
              <option value="" selected disabled>selecciona un color</option>
              <option class="espacio" *ngFor="let color of colores; index as i" [ngStyle]="{'background-color':color.color,'color':colores[i].texto}" value="{{i}}">{{color.nombre}}</option> 
            </select>
          </div>

          <div *ngIf="bandaCinco" class="form-group">
            <label for="exampleInputPassword1" class="col-form-label-sm">Banda #3</label>
            <select  id="inputState2" placeholder="sac" class="form-control  form-control-sm"  name="banda2" (click)="getColor($event.target.value,4)" name="banda5" [ngStyle]="{'background-color':bandas[4].color,'color':bandas[4].texto}" >
              <option  selected>{{bandas[4].nombre}}</option>
              <option class="espacio" *ngFor="let color of colores; index as i" [ngStyle]="{'background-color':color.color,'color':colores[i].texto}" value="{{i}}">{{color.nombre}}</option> 
            </select>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1" class="col-form-label-sm">Multiplicador</label>
            <select id="inputState3" class="form-control  form-control-sm" name="banda3" (click)="multiplicador($event.target.value)" name="banda3" [ngStyle]="{'background-color':bandas[2].color,'color':bandas[2].texto}" >
              <option value="as" selected disabled>selecciona un color</option>
              <option *ngFor="let color of multiplicadores; index as i" [ngStyle]="{'background-color':color.color,'color': multiplicadores[i].texto}" value="{{i}}">{{color.nombre}}</option> 
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="col-form-label-sm">Tolerancia</label>
            <select  id="inputState4" class="form-control  form-control-sm"  name="banda4" (click)="toleran($event)" name="banda3" [ngStyle]="{'background-color':bandas[3].color,'color':bandas[3].texto}">
              <option value="as" selected disabled>selecciona un color</option>
              <option *ngFor="let color of tolerancias; index as i" [ngStyle]="{'background-color':color.color,'color':'white'}" value="{{i}}">{{color.nombre}}</option>  
            </select>
          </div>
          
        </form>
      </div>
      <div class="card-footer">
        
        
      </div>
    </div>
  </div>

</div>